<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Session</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/responsable/sessions/list">Sessions</a></li>
                <li class="nav-item "><a class="nav-link" href="/responsable/formateurs/list">Formateurs</a></li>
                <li class="nav-item "><a class="nav-link" href="/responsable/etudiants/list">Etudiants</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <span class="navbar-text" sec:authentication="principal.authorities"></span>
                <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
<div class="container">
    <p class="my-5">
        <a class="btn btn-primary" href="/responsable/sessions/signup"><i
                class="fas fa-user-plus ml-2"> Ajouter session</i></a>
    </p>
    <div class="col-md-10">
        <h2 th:if="${sessions.isEmpty() or sessions == null}">Pas encore des sessions !</h2>
        <div th:if="${!sessions.isEmpty() and sessions != null}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Fomateur</th>
                    <th>Status</th>
                    <th>Nombre des heures</th>
                    <th>Date de debut</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="sess : ${sessions}">
                    <td th:text="${sess.titre}"></td>
                    <td th:text="${sess.formateur.user.firstName +' '+sess.formateur.user.lastName}"></td>
                    <td th:text="${sess.status}"></td>
                    <td th:text="${sess.nbHeures}"></td>
                    <td th:text="${sess.dateDebut}"></td>


                    <td>
                        <a class="btn btn-success btn-sm" role="button">Modifier</a></td>
                    <td><a class="btn btn-danger btn-sm" role="button">Supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>
